.vacaciones-container {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  margin: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vacaciones-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.vacaciones-container button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

.vacaciones-container button:hover {
  background-color: #2563eb;
}
